/* General */
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2, h3 {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
}

h1 {
  margin: 10px 0px;
  font-size: 18px;
  font-weight: normal;
}

/* Header */

.header, .main {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

.container {
  width: 900px;
}

.container-div {
  display: inline-block;
  vertical-align: middle;
  width: 230px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.main-logo {
  width: 150px;
  padding-left: 8px;
}

.slogan {
  width: 200px;
  padding-bottom: 10px;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pay-container {
  padding-right: 8px;
}

.pay-info {
  display: flex;
  justify-content: flex-start;
}

/* Main */

/* .main-container {
  padding: 0px 0px;
} */

.customer, .customer-id, .payment, .concept, .payment-info, .consignment-info, .sign-info {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 8px;
  padding-top: 6px;
  padding-left: 20px;
}

.payment-info, .consignment-info, .sign-info {
  padding-bottom: 0; 
  height: 50px;
}

.consignment-info {
  padding-top: 5px;
}

.payment-info-div, .consignment-info-div, .sign-info-div {
  display: inline-block;
  vertical-align: middle;
  width: 130px;
  height: 45px;
  padding-top: 4px;
}

.taxes {
  width: 250px;
}

.taxes-div, .consignment-info-div, .sign-info-div {
  padding-left: 5px;
  padding-right: 5px;
  border-left-style: solid;
  border-left-width: 1px;
  padding-top: 12px;
  padding-bottom: 0px;
}

.consignment-info-div-first {
  border-left: none;
  width: 160px;
  padding-left: 0;
}

.consignment-info-div {
  width: 204px;
  height: 44px;
}

.taxes-div, .taxes-div-first {
  display: inline-block;
  width: 96px;
  height: 45px;
  vertical-align: middle;
}

.taxes-div-first {
  width: 127px;
}

.sign-info {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
  height: 55px;
}

.sign-info-div {
  width: 230px;
  height: 50px;
}

.sign-info-div-first {
  border-left: none;
  width: 160px;
  padding-left: 0;
}

.watermark {
  opacity: 0.2;
  color: 'blue';
  font-size: 70;
  position: absolute;
  top: 195;
  left: 90;
  z-index: 90;
  transform: rotate(-30deg);
}
/* GENERICOS */

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
  font-size: 15px;
}

.bottom {
  vertical-align: bottom;
}